@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #1f1f1f;
  color: white;
  font-family: Arial, sans-serif;
}

.navbar {
  background: #2b6777;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
}

.container {
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}